.main-page {
    min-height: 100vh;
}

.main-container {
    display: flex;
    gap: 40px;
    padding: 40px 80px;
}

/* 내 정보 */
.my-info-box {
    width: 300px;
}

.my-info-box h2{
    font-weight: 700;
    color: #111111;
    text-align: left;
    margin-bottom: 16px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.new-badge {
    background-color: #FF9500;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 8px;
    font-weight: 600;
}

/* 상단 이름 + 이메일 */
.top-info, .detail-info div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.name {
    font-size: 20px;
}

.name, .detail-info span {
    width: 120px;
    font-weight: bold;
    color: black;
}

.email {
    color: gray;
    font-size: 16px;
    text-align: left;
}

/* 아래 정보 세로 정렬 */
.detail-info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #0099FF;
    font-size: 20px;
}

.detail-info span {
    color: black;
    font-size: 16px;
}

.detail-info strong {
    color: #0099FF;
    text-align: left;
}

.profile-card {
    border: 2px solid #0099FF;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
}

.profile-info .email {
    margin-bottom: 16px;
    color: gray;
}


/* 참여 스터디 */
.study-box {
    flex: 1;
}

.study-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.study-header h2 {
    font-weight: 700;
    color: #111111;
    text-align: left;
}

.manage-btn {
    background: #FF9500;
    border-radius: 8px;
    color: white;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.study-list {
    margin-top: 16px;
    background: #CFEBFF;
    padding: 20px;
    border-radius: 12px;
}

.study-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #F9F9F9;
    border-radius: 8px;
    margin-bottom: 10px;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.study-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.role-btn {
    background: #0099FF;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
}