
.signup-page {
  min-height: 100vh;
  padding: 12px;
  background-color: #ffffff;
}

.signup-container {
  width: 100%;
  min-height: calc(100vh - 24px);
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.signup-header {
  padding: 28px 24px 0 24px;
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.signup-form {
  width: 100%;
  max-width: 400px;
  margin-top: 0;
}

.signup-title {
  width: 100%;
  max-width: 400px;
  margin: 0 0 48px 0;
  font-size: 32px;
  font-weight: 800;
  color: #111111;
  text-align: left;
}

.sinput-row{
  display: flex;
  gap: 16px;
}
.sinput-row > * {
  flex: 1;
}

.tag-instruction {
  margin: 24px 0 16px 0;
  font-size: 16px;
  font-weight: 400;
  color: gray;
  text-align: left;
}

.tag-field {
  margin-bottom: 28px;
}

.tag-field label {
  display: block;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 500;
  color: #111111;
  text-align: left;
}


.tag-control {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border-radius: 4px; 
  outline: none;
  background-color: #CFEBFF;
  border: none;
  font-size: 16px;
}

.radio-group {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: nowrap;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.main-signup-btn {
  flex: 1;
  height: 52px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.main-signup-btn {
  background-color: #6695f0;
  color: white;
  width: 50%;
  margin: 0 0 32px 0;
}

.main-signup-btn:hover{
  opacity: 0.92;
}