.result-page {
    min-height: 100vh;
    padding: 12px;
}

.result-container {
    width: 100%;
    min-height: calc(100vh - 24px);
    background-color: #ffffff;
}

.result-title {
    width: 100%;
    padding-top: 70px;
    max-width: 400px;
    margin: 0 0 48px 128px;
    font-size: 32px;
    font-weight: 800;
    color: #111111;
    text-align: left;
}

/* 상단 */
.result-top {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 40px;
    padding: 0 120px;
}

.score-box {
    width: 220px;
    padding: 20px;
    border: 2px solid #0099FF;
    border-radius: 12px;
    text-align: center;
}

.score-row {
    display: flex;
    justify-content: space-between; /* 왼쪽-오른쪽으로 벌리기 */
    align-items: center;            /* 세로 가운데 정렬 */
    margin-bottom: 12px;            /* 각 행 사이 간격 */
}

.analysis-box {
    flex: 1;
    background: #CFEBFF;
    padding: 20px;
    border-radius: 12px;
}

.analysis-list div {
    margin-bottom: 8px;
}

/* 스터디 */
.section-title {
    font-size: 32px;
    font-weight: 800;
    text-align: left;
    margin: 50px 0 0 128px;
}

.tag {
    display: inline-block;
    background: #d38a2c;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.study-section {
    display: flex;
    gap: 24px;
    padding: 0 120px;
}

.study-category{
    flex: 1;
}
.study-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 32px;
}

/* 카드 */
.study-card {
    background: #d9d9d9;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.apply-btn {
    background: #6695f0;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

/* 하단 */
.bottom-area {
    text-align: center;
    margin-top: 40px;
}

.create-btn {
    margin-top: 12px;
    padding: 12px 24px;
    border-radius: 999px;
    border: none;
    background: #6695f0;
    color: white;
    font-size: 16px;
    cursor: pointer;
}